/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main layout */
.animation-screen {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

canvas {
    flex: 1;
    background-color: #08273a;
    border: 10px solid #303030;
    margin: auto;
    display: block;
}

.control-room {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-board {
    width: 100%;
    max-width: 900px;
    background-color: rgba(34, 42, 46, 0.638);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5),
    0 0 40px rgba(0, 255, 255, 0.5),
    0 0 80px rgba(0, 255, 255, 0.5),
    0 0 160px rgba(0, 255, 255, 0.5);
    margin-bottom: 20px;
}

.control-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 150px;
    max-width: 100%;
    box-sizing: border-box;
}

.control-group:last-child {
    margin-right: 0;
}

.control-group label {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.control-group input[type="color"],
.control-group input[type="range"],
.control-group button,
.control-group input[type="checkbox"] + label:before {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 5px;
}

.control-group input[type="range"] {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.2);
}

/* Additional CSS for the Go Back button */
#goBack {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

#goBack:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.3);
}
