@keyframes movingStars {
    0% {
      background-position: 0 0;
    }
    100% {
        background-position: -625em 0;
    }
  }
  
html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-image: url('https://www.transparenttextures.com/patterns/tiny-grid.png');
    background-color: #08273a;
    background-repeat: repeat;
    background-size: auto;
    animation: movingStars 300s linear infinite;
  }
  

  .animation-container {
    background-color: rgba(8, 39, 58, 0.75); /* Lower the opacity to make the background slightly more visible */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 91%;
    border: 3px solid rgba(0, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), inset 0 0 10px rgba(0, 255, 255, 0.5);
  }
  #animation {
    position: absolute;
    width: 97%; /* Set the width and height to 95% to create a small margin around the canvas */
    height: 97%;
    border-radius: 10px; /* Add border-radius to the canvas */
  }

    .controls {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.625em;
        padding: 0.625em;
        bottom: 10%;
        background-color: rgba(10, 10, 10, 0.7);
        border: 0.063em solid rgba(0, 255, 255, 0.5);
        border-radius: 0.313em;
        z-index: 2;
        box-shadow: 0 0 0.625em rgba(0, 255, 255, 0.5);
        transition: all 0.3s ease;
    }
  

  .controls label,
  .controls button {
    color: #00ffff;
    text-shadow: 0 0 0.625em rgba(0, 255, 255, 0.5);
  }


  .controls button {
    background-color: rgba(0, 0, 0, 0.4);
    border: 0.063em solid rgba(0, 255, 255, 0.5);
    border-radius: 0.313em;
    padding: 0.313em 0.625em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  @keyframes glowing {
    0% {
      box-shadow: 0 0 0.313em #00ffff;
    }
    50% {
      box-shadow: 0 0 1.25em #00ffff, 0 0 1.875em #00ffff;
    }
    100% {
      box-shadow: 0 0 0.313em #00ffff;
    }
  }
  .controls button:hover,
  #goBack:hover {
    animation: glowing 1.5s infinite;
  }
  

  .controls input[type="range"]:hover {
    cursor: pointer;
    background: linear-gradient(90deg, rgba(0, 255, 255, 0.7) 0%, rgba(0, 255, 255, 0) 100%);
  }
  
  .controls input[type="range"] {
    width: 100%;
    margin-bottom: 0.625em;
    background: linear-gradient(90deg, rgba(0, 255, 255, 0.5) 0%, rgba(0, 255, 255, 0) 100%);
    transition: background 0.3s ease;
  }
  

  #goBack {
    position: absolute;
    right: 1.25em;
    bottom: 5em; /* Adjust this value to avoid overlapping with the animation controls */
    padding: 0.625em 1.25em;
    border-radius: 1.25em;
    transition: transform 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.2);
    color: #00ffff;
    text-shadow: 0 0 0.625em rgba(0, 255, 255, 0.5);
    border: 0.063em solid rgba(0, 255, 255, 0.5);
    font-size: 1.125em;
    cursor: pointer;
    z-index: 2;
  }
  
  #goBack:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* Style the dropdown */
    #shapeSelector {
        background-color: #222222;
        color: #ffffff;
        border: 1px solid #ffffff;
        font-size: 1em;
        padding: 4px;
        margin: 0 8px;
    }
  
  /* Style the range input */
  input[type='range'] {
    -webkit-appearance: none;
    margin: 0 8px;
    width: 100px;
    height: 8px;
    background-color: #222222;
    outline: none;
  }
  
  /* Style the range input thumb */
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    cursor: pointer;
  }
  
  input[type='range']::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    cursor: pointer;
  }
  

  @media only screen and (max-width: 480px) {
    .animation-container {
      margin: 1em auto;
    }
  
    .controls {
      flex-direction: column;
      bottom: 5em;
      left: 1em;
      gap: 0.5em;
    }
  
    .controls input[type="range"] {
      width: 80%;
    }
  
    #goBack {
      bottom: 2em;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .animation-container {
      width: 90%;
      height: 90%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .animation-container {
      width: 92%;
      height: 92%;
    }
  }
  @media only screen and (max-width: 480px) {
    .controls label,
    .controls button {
      font-size: 0.9em;
    }
  }
  