/* Reset and Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1e1e1e;
    background-image: url('assets/images/dots.png');
}

/* Header */
header {
    background: rgba(30, 30, 30, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    color: #f4a460;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
}

.logo:hover {
    color: #ffceb8;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li a {
    color: #f4a460;
    text-decoration: none;
    margin-left: 1rem;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ffceb8;
}

/* Title */
.title {
    font-size: 3rem;
    color: #f4a460;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 5vh;
    position: relative;
    z-index: 100;
}

.title:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    opacity: 0.75;
    z-index: -1;
}

/* Main content */
main {
    margin-left: 220px;
    padding: 2rem;
    padding-top: 8rem;
}

.text-box {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 2rem;
    color: #f4a460;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    #sidebar {
        position: fixed;
        top: 0;
        left: -200px;
        width: 200px;
        height: 100vh;
        z-index: 500;
    }

    main {
        margin-left: 0;
        padding-top: 6rem;
    }
}
